<body>
    <div class="mt-5 container">
        <div class="card m-auto p-3" style="max-width: 30rem;">
            <h3 class="text-center">Login</h3>
            <form method="POST" action="">
                <div class="form-group">
                    <label class="form-label" for="">Email</label>
                    <input class="form-control" type="email" name="email" id="" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="">Password</label>
                    <input class="form-control" type="password" name="password" id="" required>
                </div>
                <button class="btn btn-primary btn-block text-uppercase mb-4" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>